In [90]:
!pip install pandas sqlalchemy psycopg2-binary python-dotenv

Requirement already satisfied: pandas in c:\users\syedzubair\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in c:\users\syedzubair\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: psycopg2-binary in c:\users\syedzubair\anaconda3\lib\site-packages (2.9.10)
Requirement already satisfied: python-dotenv in c:\users\syedzubair\anaconda3\lib\site-packages (0.21.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\syedzubair\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\syedzubair\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\syedzubair\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\syedzubair\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\syedzubair\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\syedzubair\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\syedzubair\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [145]:
import ast
from tabulate import tabulate
from sqlalchemy import create_engine
from sqlalchemy import text 
from sqlalchemy.dialects.postgresql import insert  
from sqlalchemy import MetaData
from sqlalchemy import Table
from dotenv import load_dotenv
import os

In [92]:
import pandas as pd

In [157]:


# 1. Verify .env file exists
env_path = os.path.join(os.getcwd(), '.env')
print(f"Looking for .env at: {env_path}")

if not os.path.exists(env_path):
    with open(env_path, 'w') as f:
        f.write("DB_USER=postgres\nDB_PASSWORD=faseehpg\nDB_HOST=localhost\nDB_NAME=movierecs")
    print("Created .env file with default values")

# 2. Load environment
load_dotenv(env_path)

# 3. Hardcoded connection string (override with .env if exists)
conn_string = (
    f"postgresql://{os.getenv('DB_USER', 'postgres')}:"
    f"{os.getenv('DB_PASSWORD', 'faseehpg')}@"
    f"{os.getenv('DB_HOST', 'localhost')}:5432/"
    f"{os.getenv('DB_NAME', 'movierecs')}"
)

# 4. Test connection
print(f"\nAttempting connection to: {conn_string.split('@')[1]}")

try:
    engine = create_engine(conn_string)
    with engine.connect() as conn:
        print("‚úÖ PostgreSQL connection successful!")
        print("You can now run your data loading code")
    conn.close()
except Exception as e:
    print(f"‚ùå Connection failed: {e}")
    print("\nüîß Final troubleshooting:")
    print("1. Verify PostgreSQL is running:")
    print("   Windows: Check 'Services' for 'postgresql'")
    print("2. Test manual connection:")
    print("   psql -h localhost -U postgres")
    print("3. Check firewall allows port 5432")
    print("4. Try this direct connection:")
    print("   engine = create_engine('postgresql://postgres:faseehpg@localhost:5432/movierecs')")

Looking for .env at: C:\Users\SyedZubair\Downloads\movie-recommender-system\.env

Attempting connection to: localhost:5432/movierecs
‚úÖ PostgreSQL connection successful!
You can now run your data loading code

In [94]:
print("Current directory:", os.getcwd())
print(".env exists:", os.path.isfile('.env'))

Current directory: C:\Users\SyedZubair\Downloads\movie-recommender-system
.env exists: True

In [111]:
movies=pd.read_csv('movies.csv')
credits=pd.read_csv('credits.csv')
# Cell 3: Load and merge raw data
movies = pd.read_csv('movies.csv')
credits = pd.read_csv('credits.csv')

# Merge datasets
movies = movies.merge(credits, on='title')
print(f"‚úÖ Data loaded. Total movies: {len(movies)}")

‚úÖ Data loaded. Total movies: 4809

In [96]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond‚Äôs past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [97]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [112]:
# Cell 4: Data preprocessing functions
def extract_names(json_str):
    """Convert JSON string to list of names"""
    try:
        return [i['name'] for i in ast.literal_eval(json_str)]
    except:
        return []

def clean_names(name_list):
    """Remove spaces from names (your collapse() function)"""
    return [str(name).replace(" ", "") for name in name_list] if isinstance(name_list, list) else []

def get_top_3_cast(cast_json):
    """Extract top 3 actors"""
    try:
        return [i['name'] for i in ast.literal_eval(cast_json)][:3]
    except:
        return []

def get_directors(crew_json):
    """Extract only directors"""
    try:
        return [i['name'] for i in ast.literal_eval(crew_json) if i['job'] == 'Director']
    except:
        return []

In [113]:
# Cell 5 (Corrected): Apply preprocessing and show sample data
# Convert JSON columns
json_columns = ['genres', 'keywords', 'cast', 'crew']
for col in json_columns:
    if col == 'cast':
        movies[col] = movies[col].apply(get_top_3_cast)
    elif col == 'crew':
        movies[col] = movies[col].apply(get_directors)
    else:
        movies[col] = movies[col].apply(extract_names)

# Clean names (remove spaces)
for col in json_columns:
    movies[col] = movies[col].apply(clean_names)

print("‚úÖ Data preprocessing complete")
print("\nSample of processed data (first 3 movies):")

# Display relevant columns using head()
display(movies[['title', 'genres', 'keywords', 'cast', 'crew']].head(3))

‚úÖ Data preprocessing complete

Sample of processed data (first 3 movies):

,title,genres,keywords,cast,crew
0,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,Spectre,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, L√©aSeydoux]",[SamMendes]

In [131]:
def clear_tables():
    tables = [
        'movie_crew', 'movie_cast', 'movie_keywords', 
        'movie_genres', 'keywords', 'genres', 'movies'
    ]
    with engine.begin() as conn:  # Use begin() for automatic transaction handling
        for table in tables:
            conn.execute(text(f"TRUNCATE TABLE {table} CASCADE"))  # Wrap in text()
        print("‚úÖ Cleared all tables")

clear_tables()

‚úÖ Cleared all tables

In [158]:
def load_to_postgres():
    try:
        # Reflect database tables
        metadata = MetaData()
        metadata.reflect(bind=engine)
        movies_table = metadata.tables['movies']
        
        # 1. Load movies with upsert
        movies_data = movies[['id', 'title', 'overview']].copy()
        movies_data.columns = ['movie_id', 'title', 'overview']
        
        # Create proper insert statement
        stmt = (
            insert(movies_table)
            .values(movies_data.to_dict('records'))
            .on_conflict_do_nothing(index_elements=['movie_id'])
        )
        
        with engine.begin() as conn:
            conn.execute(stmt)
        
        # 2. Load other tables
        genres_data = pd.DataFrame(
            {'genre_name': list(set(g for sublist in movies['genres'] for g in sublist))}
        )
        genres_data.to_sql('genres', engine, if_exists='append', index=False)
        
        print("‚úÖ All data loaded successfully!")
        
        # Test verification
        test_df = pd.read_sql("SELECT * FROM movies LIMIT 5", engine)
        print("\nFirst 5 movies in database:")
        print(test_df[['movie_id', 'title']].head().to_markdown(index=False))
        
    except Exception as e:
        print(f"‚ùå Error: {str(e)}")
        print("\nüîß Verify:")
        print("1. Table structures match (run clear_tables() if needed)")
        print("2. Column names are consistent")
        print(f"3. No duplicates in source data (found {len(movies)} records)")

# Execution flow
try:
    clear_tables()
    load_to_postgres()
except Exception as e:
    print(f"üö® Fatal error: {str(e)}")
finally:
    engine.dispose()

‚úÖ Cleared all tables
‚úÖ All data loaded successfully!

First 5 movies in database:
|   movie_id | title                                    |
|-----------:|:-----------------------------------------|
|      19995 | Avatar                                   |
|        285 | Pirates of the Caribbean: At World's End |
|     206647 | Spectre                                  |
|      49026 | The Dark Knight Rises                    |
|      49529 | John Carter                              |

In [2]:
def check_tables_exist(connection):
    """Check if required tables exist in the database"""
    required_tables = ['movies', 'genres', 'movie_genres', 
                      'keywords', 'movie_keywords',
                      'people', 'movie_cast', 'movie_crew']
    
    with connection.cursor() as cursor:
        cursor.execute("""
            SELECT table_name 
            FROM information_schema.tables 
            WHERE table_schema = 'public'
        """)
        existing_tables = {row[0] for row in cursor.fetchall()}
    
    missing_tables = [table for table in required_tables if table not in existing_tables]
    
    if missing_tables:
        print(f"Missing tables: {', '.join(missing_tables)}")
        return False
    print("All required tables exist")
    return True

# Usage:
conn = psycopg2.connect(**DB_CONFIG)
if not check_tables_exist(conn):
    print("\nPlease create the missing tables in pgAdmin4")
    conn.close()
    exit()

All required tables exist

In [8]:
import psycopg2
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from functools import lru_cache
from psycopg2.extras import RealDictCursor

# Database configuration
DB_CONFIG = {
    "dbname": "movierecs",
    "user": "postgres",
    "password": "faseehpg",
    "host": "localhost",
    "port": "5432"
}

class MovieRecommender:
    def __init__(self, connection):
        self.connection = connection
        self.movies_df = None
        self.similarity_matrix = None
        self.title_to_idx = {}

    def load_data(self):
        try:
            query = """
            SELECT 
                m.movie_id, 
                m.title, 
                COALESCE(m.overview, '') AS overview,
                COALESCE(m.poster_url, '') AS poster_url,
                COALESCE(
                    (SELECT string_agg(g.genre_name, ' ')
                    FROM movie_genres mg
                    JOIN genres g ON mg.genre_id = g.genre_id
                    WHERE mg.movie_id = m.movie_id
                ), '') AS genres,
                COALESCE(
                    (SELECT string_agg(p.name, ' ')
                    FROM (
                        SELECT p.name 
                        FROM movie_cast mc
                        JOIN people p ON mc.person_id = p.person_id
                        WHERE mc.movie_id = m.movie_id
                        ORDER BY mc.cast_order
                        LIMIT 3
                    ) AS p
                ), '') AS top_cast,
                COALESCE(
                    (SELECT string_agg(p.name, ' ')
                    FROM movie_crew mc
                    JOIN people p ON mc.person_id = p.person_id
                    WHERE mc.movie_id = m.movie_id AND mc.job = 'Director'
                ), '') AS directors,
                COALESCE(
                    (SELECT string_agg(k.keyword_name, ' ')
                    FROM movie_keywords mk
                    JOIN keywords k ON mk.keyword_id = k.keyword_id
                    WHERE mk.movie_id = m.movie_id
                ), '') AS keywords
            FROM movies m
            GROUP BY m.movie_id, m.title, m.overview, m.poster_url
            """
            
            with self.connection.cursor(cursor_factory=RealDictCursor) as cursor:
                cursor.execute(query)
                self.movies_df = pd.DataFrame(cursor.fetchall())
            
            if not self.movies_df.empty:
                self.movies_df['combined_features'] = (
                    self.movies_df['overview'] + ' ' +
                    self.movies_df['genres'] + ' ' +
                    self.movies_df['keywords'] + ' ' +
                    self.movies_df['top_cast'] + ' ' +
                    self.movies_df['directors']
                )
                
                self.movies_df['title_lower'] = self.movies_df['title'].str.lower()
                self.title_to_idx = dict(zip(
                    self.movies_df['title_lower'],
                    self.movies_df.index
                ))
                return True
            return False
        except Exception as e:
            print(f"Error loading data: {e}")
            return False

    @lru_cache(maxsize=1)
    def build_similarity_matrix(self):
        if self.movies_df is None or self.movies_df.empty:
            if not self.load_data():
                return None
        
        tfidf = TfidfVectorizer(
            stop_words='english',
            ngram_range=(1, 2),
            min_df=2,
            max_features=5000
        )
        
        try:
            tfidf_matrix = tfidf.fit_transform(self.movies_df['combined_features'])
            self.similarity_matrix = cosine_similarity(tfidf_matrix)
            return self.similarity_matrix
        except Exception as e:
            print(f"Error building similarity matrix: {e}")
            return None

    def recommend(self, movie_title, top_n=5, include_posters=False):
        if self.movies_df is None or self.movies_df.empty:
            if not self.load_data():
                return pd.DataFrame()
        
        if self.similarity_matrix is None:
            if self.build_similarity_matrix() is None:
                return pd.DataFrame()
        
        movie_title_lower = movie_title.lower()
        if movie_title_lower not in self.title_to_idx:
            print(f"Movie '{movie_title}' not found in database")
            return pd.DataFrame()
        
        movie_idx = self.title_to_idx[movie_title_lower]
        sim_scores = list(enumerate(self.similarity_matrix[movie_idx]))
        sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:top_n+1]
        movie_indices = [i[0] for i in sim_scores]
        
        # Create the result DataFrame first
        result_columns = ['movie_id', 'title']
        if include_posters and 'poster_url' in self.movies_df.columns:
            result_columns.append('poster_url')
        
        recommendations = self.movies_df.iloc[movie_indices][result_columns].copy()
        
        # Now add the similarity scores
        recommendations.insert(
            loc=2,
            column='similarity_score',
            value=[round(i[1], 3) for i in sim_scores]
        )
        
        return recommendations.reset_index(drop=True)


# Main execution
if __name__ == "__main__":
    try:
        conn = psycopg2.connect(**DB_CONFIG)
        recommender = MovieRecommender(conn)
        
        test_movie = "The Dark Knight"
        print(f"\nGetting recommendations for: {test_movie}")
        
        recommendations = recommender.recommend(test_movie, include_posters=True)
        
        if not recommendations.empty:
            print("\nRecommended Movies:")
            print(recommendations.to_markdown(index=False))
        else:
            print("No recommendations found")
            
    except psycopg2.Error as e:
        print(f"Database connection failed: {e}")
    finally:
        if 'conn' in locals():
            conn.close()

Getting recommendations for: The Dark Knight

Recommended Movies:
|   movie_id | title                                   |   similarity_score | poster_url   |
|-----------:|:----------------------------------------|-------------------:|:-------------|
|      49026 | The Dark Knight Rises                   |              0.372 |              |
|        414 | Batman Forever                          |              0.316 |              |
|        364 | Batman Returns                          |              0.279 |              |
|     142061 | Batman: The Dark Knight Returns, Part 2 |              0.255 |              |
|      18777 | Slow Burn                               |              0.216 |              |